.login_container {
	height: 100%;
	background-image: url(../../images/forest.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.login-modal {
	width: 30%;
	height: 70%;
	border-radius: 1rem;
	background-color: rgba(2, 2, 2, 0.137);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(5px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	align-items: center;
	h1 {
		letter-spacing: 1px;
		margin-bottom: 3rem;
	}
}

.login {
	background-color: white;
	width: 60%;
	margin-bottom: 1rem;
	padding: 1rem;
	border-radius: 1rem;
	color: #1f4037;
	display: flex;
	align-items: center;
	gap: 1rem;
	font-weight: bold;
	border: none;
	font-size: 1rem;
	cursor: pointer;
	img {
		width: 2rem;
		height: 2rem;
	}
}
