html {
	height: 100%;
}
body {
	margin: 0;
	font-family: "Raleway", sans-serif;
}

.app {
	height: 100vh;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
